<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />

<title>Itemlist</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<div class="container">
	<div class="col-md-4">
	<h1>Budjettori</h1>
	</div>
	<div class="col-md-4">
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Item</th>
				<th>Price</th>
				<th>Amount</th>
				<th>Total Price</th>
				<th>Category</th>
			</tr>
		</thead>


		<tbody>
			<tr th:each="item : ${items}">
				<td th:text="${item.description}"></td>
				<td th:text="${item.price}"></td>
				<td th:text="${item.amount}"></td>
				<td th:with="result=${item.price * item.amount}">
					<span th:text="${result}"></span>
				</td>
				<td th:text="${item.category.name}"></td>
				<td><a class="btn btn-danger"
					th:href="@{/delete/{id}(id=${item.id})}">Delete</a></td>
				<td><a class="btn btn-primary"
					th:href="@{/edit/{id}(id=${item.id})}">Edit</a></td>
			</tr>
		</tbody>
	</table>

	<a class="btn btn-success" href="/add">Add a new item</a>
</div>  
</body>
</html>